<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <header id="main-header">
        <section>
            <h1>URL Shortener</h1>
        </section>
    </header>
    <section id="main-wrapper">
        @RenderBody()
    </section>
    <script src="~/js/site.js"></script>
</body>
</html>