html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
    background: antiquewhite;
}

#main-header {
	background: #6b5b95;
	padding: 1vh;
}

#main-header section {
	color: white;
	padding: 20px 0px;
	text-align: center;
}

#main-header h1 {
	padding: 0;
	margin: 5px 0px;
	font-size: 2.5em;
}

.shortener-form-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height:50vh;
    background: antiquewhite; 
}

.shortener-form{
	min-width: 350px;
	width:60vw;
}

.shortener-form input,
.shortener-form button {
	padding: 20px 15px;
	border: none;
	outline: none;
}

.input-wrap{
	display:flex;
	width:100%;
}

.shortener-form input {
	background: #2f2f2f;
	color:#eee;
	font-size: 1.2em;
	flex-grow: 7;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.shortener-form button {
	font-weight: bold;
	cursor: pointer;
	font-size: 1.2em;
	flex-grow: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #6b5b95;
	color: white;
}

.shortener-form button:hover {
	background: #92a8d1;
	color: white;
}

#resp-area.active-red{
	font-size: 1.2em;
	text-align: center;
	background:pink;
	margin: 25px 0px;
	border-radius: 5px;
	padding:10px;
	box-sizing: border-box;
	cursor: pointer;
}

#resp-area.active-green {
	font-size: 1.2em;
	text-align: center;
	background: #b5e7a0;
	margin: 25px 0px;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

#resp-area.inactive{
	display:none;
}

.shortener-form h2{
	text-align: center;
	font-size: 1.8em;
}
